<% if false %>
<%= filepicker_js_include_tag %>
<% end %>
<script type="text/javascript" src="https://d2v8blf6aa0zzy.cloudfront.net/api/filepicker.io/v1/filepicker.js"></script>

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :filepicker_url, "Picture Upload (requires page refresh)" %><br />
    <%= f.filepicker_field :filepicker_url %> <!-- User#filepicker_url is a regular string column -->
  </div>

  <div><%= f.label "First Name" %><br />
  <%= f.text_field :firstname %></div>

  <div><%= f.label "Last Name" %><br />
  <%= f.text_field :lastname %></div>

  <div><%= f.label :tagline %><br />
  <%= f.text_field :tagline %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :gender %><br />
  <%= f.select :gender, [['Male','Male'],['Female','Female']] %></div>

  <div><%= f.label :school %><br />
  <%= f.select :school, [['Annenberg','Annenberg'],
                        ['Arts & Sciences','Arts & Sciences'],
                        ['Dental','Dental'],
                        ['Design','Design'],
                        ['Education','Education'],
                        ['Engineering','Engineering'],
                        ['Law','Law'],
                        ['Medicine','Medicine'],
                        ['Nursing','Nursing'],
                        ['Social Policy','Social Policy'],
                        ['Veterinary Medicine','Veterinary Medicine'],
                        ['Wharton','Wharton']] %></div>

  <div><%= f.label :level %><br />
  <%= f.select :level, [['Undergraduate','Undergraduate'],['Graduate','Graduate']] %></div>

  <div><%= f.label :graduation %><br />
  <%= f.select :graduation, (2010..2030) %></div>

  <div class = "button"><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
