<table>
	<tr>
		<td>Comment</td>
		<td>Time</td>
		<td>User</td>
		<td>Event</td>
	</tr>
	<% @comments.each do |comment| %>
	<tr>
		<td><%= link_to comment.content, comment_path(comment.id) %></td>
		<td><%= comment.updated_at %></td>
		<td><%= comment.user.name unless comment.user.nil? %></td>
		<td><%= comment.event.title unless comment.event.nil? %></td>
		<% if comment.user_id == current_user.id %>
			<td><%= link_to "Edit Comment", edit_comment_path(comment.id) %></td>
			<td><%= button_to "Delete Comment", comment, confirm: "Are you sure you want to delete?", method: :delete %></td>
		<% end %>
	</tr>
	<% end %>
</table>
