<%= filepicker_js_include_tag %>

<%= form_for(@user) do |f| %>
	<div class = "field">
		<p>First Name</p>
		<%= f.text_field :firstname %>
	</div>
	<div class = "field">
		<p>Last Name</p>
		<%= f.text_field :lastname %>
	</div>
	<div class = "field">
		<p>Email</p>
		<%= f.text_field :email %>
	</div>
	<div class = "field">
		<p>Password</p>
		<%= f.text_field :password %>
	</div>
	<div class = "field">
		<p>School</p>
		<%= f.text_field :school %>
	</div>
	<div class = "field">
		<p>Graduation</p>
		<%= f.text_field :graduation %>
	</div>
	<div class = "button">
		<%= f.submit %>
	</div>
<% end %>
