<%= filepicker_js_include_tag %>

<table>
	<tr>
		<td><div class = "field">Name</td></div></div>
		<td><div class = "field">Email</td></div></div>
		<td><div class = "field">Gender</td></div></div>
		<td><div class = "field">School</td></div></div>
		<td><div class = "field">Level</td></div></div>
		<td><div class = "field">Graduation</td></div>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><div class="column2"><%= link_to user.firstname, user_show_path(user.id) %>&nbsp;<%= link_to user.lastname, user_show_path(user.id) %></div></td>
		<td><div class="column3"><%= user.email %></div></td>
		<td><div class="column4"><%= user.gender %></div></td>
		<td><div class="column5"><%= user.school %></div></td>
		<td><div class="column6"><%= user.level %></div></td>
		<td><div class="column7"><%= user.graduation %></div></td>

		<% if false %>
		<td><%= link_to "Edit User", edit_user_registration_path %></td>
		<td><%= button_to "Delete User", destroy_user_path(user), confirm: "Are you sure you want to delete?", method: :delete %></td>
		<% end %>
	</tr>
	<% end %>
</table>