<div class = "photo">
	<% if @user.filepicker_url.blank? %>
	<%= @user.firstname %><%= " is camera shy!" %>
	<% else %>
	<%= image_tag(@user.filepicker_url, height: '135') %>
	<% end %>
</div>

<div class = "section1">
	<h2><%= @user.firstname %>&nbsp;<%= @user.lastname %></h2>
	<p><div class = "field">Tagline: </div><%= @user.tagline %></p>
	<p><div class = "field">Email: </div><%= @user.email %></p>
	<p><div class = "field">Gender: </div><%= @user.gender %></p>
	<p><div class = "field">School: </div><%= @user.school %></p>
	<p><div class = "field">Level: </div><%= @user.level %></p>
	<p><div class = "field">Graduation: </div><%= @user.graduation %></p>
	<% if @user.id == current_user.id %>
		<div class = "button2" >
			<td><%= button_to "Edit User", edit_user_registration_path, method: :get %></td>
		</div>
	<% end %>

	<% if false %>
	<% if current_user.admin = true %>
		<td><%= button_to "Edit User", edit_user_registration_path, method: :get %></td>
	<% end %>
	<p><%= button_to "Edit User", edit_user_registration_path(user.id) %></p>
	<p><%= button_to "Delete User", destroy_user_path(user), confirm: "Are you sure you want to delete?", method: :delete %></p>
	<% end %>
</div>

<div class = "section2">
	<div class = "field">Events <%= @user.firstname %> is hosting: </div>
	<% @events.each do |event| %>
		<%= link_to event.title, event_path(event.id) %><br/>
	<% end %>
	<p></p>
	<div class = "field">Events <%= @user.firstname %> is attending: </div>
	<% @participants.each do |participant| %>
		<%= link_to participant.event.title, event_path(participant.event.id) %><br/>
	<% end %>
</div>
