<div>
	<h2><%= @user.name %></h2>
	<p><%= @user.email %></p>
	<p><%= @user.password %></p>
	<p><%= @user.school %></p>
	<p><%= @user.graduation %></p>
	<% if false %>
	<p><%= button_to "Edit User", edit_user_registration_path(user.id) %></p>
	<p><%= button_to "Delete User", destroy_user_path(user), confirm: "Are you sure you want to delete?", method: :delete %></p>
	<% end %>
</div>

<% @events.each do |event| %>
	<div class="dash-review">
  		<h2><%= link_to event.title, event_path(event.id) %></h2>
  		<h5><%= event.user.name %></h5>
  		<p><%= event.location %></p>
  		<p><%= event.maxpeople %></p>
  		<p><%= event.dayandtime %></p>
	</div>
<% end %>