<% if @user.filepicker_url.blank? %>
<%= "no user photo" %>
<% else %>
<%= filepicker_image_tag @user.filepicker_url, w: 160, h: 160, fit: 'clip' %>
<% if false %>
<%= filepicker_save_button "Save", @user.filepicker_url, "image/jpg" %>
<% end %>
<% end %>

<div>
	<h2><%= @user.name %></h2>
	<p><div class = "field"><%= "Tagline: " %></div><%= @user.tagline %>
	<p><div class = "field"><%= "Email: " %></div><%= @user.email %></p>
	<p><div class = "field"><%= "Gender: " %></div><%= @user.gender %></p>
	<p><div class = "field"><%= "School: " %></div><%= @user.school %></p>
	<p><div class = "field"><%= "Level: " %></div><%= @user.level %></p>
	<p><div class = "field"><%= "Graduation: " %></div><%= @user.graduation %></p>
	<% if false %>
	<p><%= button_to "Edit User", edit_user_registration_path(user.id) %></p>
	<p><%= button_to "Delete User", destroy_user_path(user), confirm: "Are you sure you want to delete?", method: :delete %></p>
	<% end %>
</div>

<% @events.each do |event| %>
	<div class="dash-review">
  		<h2><%= link_to event.title, event_path(event.id) %></h2>
  		<h5><%= event.user.name %></h5>
  		<p><%= event.location %></p>
  		<p><%= event.maxpeople %></p>
  		<p><%= event.dayandtime %></p>
  		<p><%= event.dayandtimeend %></p>
	</div>
<% end %>