<h2>Edit Event</h2>

<%= form_for(@event) do |f| %>
	<div class = "field">
		Title:<br />
		<%= f.text_field :title %>
	</div>
	<p></p>
	<div class = "field">
		Category:<br />
		<%= f.select :category, [['Meal','Meal'], ['Drinks/Coffee', 'Drinks/Coffee'], ['Local Event', 'Local Event'], ['Sports', 'Sports'], ['San Francisco Semester', 'San Francisco Semester'], ['Other', 'Other']] %>
	</div>
	<p></p>
	<div class = "field">
		Location:<br />
		<%= f.text_field :location %>
	</div>
	<p></p>
	<div class = "field">
		Start Time:<br />
		<%= f.datetime_select :dayandtime, :ampm => true, :minute_step => 15 %>
	</div>
	<p></p>
	<div class = "field">
		<%= f.hidden_field :dayandtimeend, :value => @event.dayandtime %>
	</div>
	<div class = "field">
		End Time:<br />
		<%= f.datetime_select :dayandtimeend, :ampm => true, :minute_step => 15 %>
	</div>
	<p></p>
	<div class = "field">
		Maximum Attendees:<br />
		<%= f.select :maxpeople, (4..8) %>
	</div>
	<div class = "field">
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>
	<p></p>
	<div class = "button">
		<%= f.submit %>
	</div>
	<div class="error-msg">
		<% if @event.errors.any? %>
		<ul>
			<% @event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
		<% end %>
	</div>
<% end %>
