<table>
	<tr>
		<td>Event ID</td>
		<td>Title</td>
		<td>Location</td>
		<td>Start Time</td>
		<td>End Time</td>
		<td>Maximum Attendees</td>
		<td>User</td>
	</tr>
	<% @events.each do |event| %>
	<tr>
		<td><%= event.id %></td>
		<td><%= link_to event.title, event_path(event.id) %></td>
		<td><%= event.location %></td>
		<td><%= event.dayandtime %></td>
		<td><%= event.dayandtimeend %></td>
		<td><%= event.maxpeople %></td>
		<td><%= event.user.name %></td>
		<td><%= link_to "Edit Event", edit_event_path(event.id) %></td>
		<td><%= button_to "Delete Event", event, confirm: "Are you sure you want to delete?", method: :delete %></td>
	</tr>
	<% end %>
</table>

<% if false %>

<div id = "calendar">
  <% calendar_for @events do |calendar| %>
    <% calendar.day(:day_method => :dayandtime) do |date, events| %>
      <%= date.day %>
    <% end %>
  <% end %>
</div>


<%= calendar @events, {:prev_text=>"prev", :next_text=>"next"} do |event| %>
  <div><%= link_to event.title, event_path(event.id) %></div>
<% end %>


<% bootstrap_calendar month do |date| %>
	<% link_to date.day, new_plan_event_path(:event => {:activity_at => date.beginning_of_day + 12.hours}) %>
	<% if @events_by_date[date] %>
	<% ul.event_summary %>
	<% @events_by_date[date].each do |event| %>
	<% li style=event_style(event) %>
   	<% link_to "#{event.title}: #{event.activity_at.to_s(:time_only)}", menu_plan_event_path(event), :remote => true, :style => event_link_style(event) %>
	<% end %>
<% end %>
<% end %>

<% end %>