<div id = "calendar"></div>

<table>
	<tr>
		<td>Event ID</td>
		<td>Title</td>
		<td>Location</td>
		<td>Start Time</td>
		<td>End Time</td>
		<td>Maximum Attendees</td>
		<td>User</td>
	</tr>
	<% @events.each do |event| %>
	<tr>
		<td><%= event.id %></td>
		<td><%= link_to event.title, event_path(event.id) %></td>
		<td><%= event.location %></td>
		<td><%= event.dayandtime %></td>
		<td><%= event.dayandtimeend %></td>
		<td><%= event.maxpeople %></td>
		<td><%= event.user.name %></td>
		<% if event.user_id == current_user.id %>
			<td><%= link_to "Edit Event", edit_event_path(event.id) %></td>
			<td><%= button_to "Delete Event", event, confirm: "Are you sure you want to delete?", method: :delete %></td>
		<% end %>
	</tr>
	<% end %>
	<tr>
		<td>Event</td>
		<td>Participant</td>
	</tr>
		<% @participants.each do |participant| %>
		<tr>
			<td><%= participant.event.title %></td>
			<td><%= participant.user.name %></td>
			<% if participant.user_id == current_user.id %>
			<td><%= button_to "Don't Attend", participant, confirm: "you sure you want to unattend this event?", method: :delete %></td>
			<% end %>
		</tr>
		<% end %>
</table>