<%= form_for(@event) do |f| %>
	<div class = "field">
		<p>Title</p>
		<%= f.text_field :title %>
	</div>
	<div class = "field">
		<p>Location</p>
		<%= f.text_field :location %>
	</div>
	<div class = "field">
		<p>Date and Time</p>
		<%= f.datetime_select :dayandtime %>
	</div>
	<div class = "field">
		<p>Maximum Attendees</p>
		<%= f.text_field :maxpeople %>
	</div>
	<div class = "field">
		<p>User</p>
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>
	<div class = "actions">
		<%= f.submit %>
	</div>
	<div class="error-msg">
		<% if @event.errors.any? %>
		<ul>
			<% @event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
		<% end %>
	</div>
<% end %>
