<% @guests.each do |guest| %>
	<% guest.listed = 0 %>
<% end %>

<div class = "section1">
	<h2><%= @event.title %></h2>
	<p><div class = "field"><%= "Category: " %></div><%= @event.category %></p>
	<p><div class = "field"><%= "Affiliation: " %></div><%= @event.school %></p>
	<p><div class = "field"><%= "Location: " %></div><%= @event.location %></p>
	<p><div class = "field"><%= "Start Time: " %></div><%= @event.dayandtime.strftime('%a, %b %d %Y %I:%M%P') %></p>
	<p><div class = "field"><%= "End Time: " %></div><%= @event.dayandtimeend.strftime('%a, %b %d %Y %I:%M%P') %></p>
	<p><div class = "field"><%= "Max Attendees: " %></div><%= @event.maxpeople %></p>
	<p><div class = "field"><%= "Creator: " %></div><%= link_to @event.user.firstname, user_show_path(@event.user.id) %>&nbsp;<%= link_to @event.user.lastname, user_show_path(@event.user.id) %></p>
	<% if @event.user_id == current_user.id %>
		<div class = "button2" >
		<td><%= button_to "Edit Event", edit_event_path(@event.id), method: :get %></td>
		<td><%= button_to "Cancel Event", @event, confirm: "you sure you want to cancel this event?", method: :delete %></td>
		</div>
	<%end %>

	<% if @participants.where("user_id = ? AND event_id = ?", current_user.id, @event.id).empty? %>
			<td>
			<%= form_for(@participant) do |f| %>
				<div class="field">
					<%= f.hidden_field :user_id, :value => current_user.id %>
				</div>
				<div class="field">
					<%= f.hidden_field :event_id, :value => @event.id %>
				</div>
				<div class="field">
					<%= f.hidden_field :timejoined, :value => Time.now %>
				</div>
				<div class="button">
					<% @@counter = 0 %>
					<% @participants.each do |participant| %>
						<% @@counter += 1 %>
					<% end %>
					<% @guests.each do |guest| %>
						<% @@counter += 1 %>
					<% end %>
					<% if @@counter < @event.maxpeople %>
						<%= f.submit "Attend" %>
					<% else %>
						<%= f.submit "Join Waitlist" %>
					<% end %>
				</div>
			<% end %>
			</td>
	<% else %>
		<div class="button">
		<% @@counter = 0 %>
		<% @participants.each do |participant| %>
			<% @@counter += 1 %>
		<% end %>
		<% @guests.each do |guest| %>
			<% @@counter += 1 %>
		<% end %>
		<td><%= button_to "Don't Attend", @participants.where("user_id = ? AND event_id = ?", current_user.id, @event.id).take!, confirm: "Are you sure you want to unattend this event?", method: :delete %></td>
		</div>
		<% if @guests.where("user_id = ? AND event_id = ?", current_user.id, @event.id).empty? %>
			<td>
			<%= form_for(@guest) do |f| %>
				<div class="field">
					<%= f.hidden_field :user_id, :value => current_user.id %>
				</div>
				<div class="field">
					<%= f.hidden_field :event_id, :value => @event.id %>
				</div>
				<% @@participantfindid = 0 %>
				<% @participants.each do |participant| %>
					<% if participant.user_id == current_user.id %>
						<% @@participantfindid = participant.id %>
					<% end %>
				<% end %>
				<div class="field">
					<%= f.hidden_field :participant_id, :value => @@participantfindid %>
				</div>
				<div class="field">
					<%= f.hidden_field :listed, :value => 0 %>
				</div>
				<div class="button">
					<% @@counter = 0 %>
					<% @participants.each do |participant| %>
						<% @@counter += 1 %>
					<% end %>
					<% @guests.each do |guest| %>
						<% @@counter += 1 %>
					<% end %>
					<% if @@counter < @event.maxpeople %>
						<%= f.submit "Add Guest" %>
					<% else %>
						<%= f.submit "Add Guest to Waitlist" %>
					<% end %>
				</div>
			<% end %>
			</td>
		<% else %>
			<div class="button">
				<% @@counter = 0 %>
				<% @participants.each do |participant| %>
					<% @@counter += 1 %>
				<% end %>
				<% @guests.each do |guest| %>
					<% @@counter += 1 %>
				<% end %>
				<td><%= button_to "Remove Guest", @guests.where("user_id = ? AND event_id = ?", current_user.id, @event.id).take!, confirm: "Are you sure you want to remove guest?", method: :delete %></td>
			</div>
		<% end %>
	<% end %>
</div>

<div class = "section3">
	<p></p>
	<% @@counter = 0 %>
	<% @participants.each do |participant| %>
		<% @@counter += 1 %>
	<% end %>
	<% @guests.each do |guest| %>
		<% @@counter += 1 %>
	<% end %>
	<div class = "field"><%= "Total Attendees: " %></div>
	<% if @@counter < @event.maxpeople %>
		<%= @@counter %>
	<% else %>
		<%= @event.maxpeople %>
	<% end %>
	<p></p>

	<% @@counter = 0 %>
	<% if false %>
	<td><%= "Attending: "%><%= link_to @event.user.firstname, user_show_path(@event.user.id) %>&nbsp;<%= link_to @event.user.lastname, user_show_path(@event.user.id) %></td><p></p>
	<% end %>
	<% @participants.each do |participant| %>
		<% @guests.each do |guest| %>
			<% if guest.created_at < participant.timejoined and guest.listed != 1 %>
				<% if @@counter < @event.maxpeople %>
					<td><%= "Attending: "%><%= guest.user.school %>&nbsp;<%= guest.user.gender %></td>
				<% else %>
					<td><%= "On Waitlist: "%><%= guest.user.school %>&nbsp;<%= guest.user.gender %></td>
				<% end %>
				<% guest.listed = 1 %>
				<% @@counter += 1 %>
				<p></p>
			<% end %>
		<% end %>
		<% if @@counter < @event.maxpeople %>
			<td><%= "Attending: "%><%= participant.user.school %>&nbsp;<%= participant.user.gender %></td>
		<% else %>
			<td><%= "On Waitlist: "%><%= participant.user.school %>&nbsp;<%= participant.user.gender %></td>
		<% end %>
		<% @@counter += 1 %>
		<p></p>
	<% end %>
	<% @guests.each do |guest| %>
		<% if guest.listed != 1 %>
			<% if @@counter < @event.maxpeople %>
				<td><%= "Attending: "%><%= guest.user.school %>&nbsp;<%= guest.user.gender %><%= "'s Guest"%></td>
				<% @@counter += 1 %>
				<p></p>
			<% else %>
				<td><%= "On Waitlist: "%><%= guest.user.school %>&nbsp;<%= guest.user.gender %><%= "'s Guest"%></td>
				<% @@counter += 1 %>
				<p></p>
			<% end %>
		<% end %>
	<% end %>


	<% if false %>
		<% if @@counter < @event.maxpeople %>
			<td><%= "Attending: "%><%= link_to participant.user.firstname, user_show_path(participant.user.id) %>&nbsp;<%= link_to participant.user.lastname, user_show_path(participant.user.id) %></td>
			<% @@counter += 1 %>
			<p></p>
			<% @guests.each do |guest| %>
				<% if guest.participant_id == participant.id %>
					<% if @@counter < @event.maxpeople %>
						<% @@counter += 1 %>
						<td><%= "Attending: "%><%= link_to guest.user.firstname, user_show_path(guest.user.id) %>&nbsp;<%= link_to guest.user.lastname, user_show_path(guest.user.id) %><%= "'s Guest"%></td>
					<% else %>
						<td><%= "On Waitlist: "%><%= link_to guest.user.firstname, user_show_path(guest.user.id) %>&nbsp;<%= link_to guest.user.lastname, user_show_path(guest.user.id) %><%= "'s Guest"%></td>
					<% end %>
				<% end %>
				<p></p>
			<% end %>
		<% else %>
			<td><%= "On Waitlist: "%><%= link_to participant.user.firstname, user_show_path(participant.user.id) %>&nbsp;<%= link_to participant.user.lastname, user_show_path(participant.user.id) %></td>
			<p></p>
			<% @guests.each do |guest| %>
				<% if guest.participant_id == participant.id %>
					<% if @@counter < @event.maxpeople %>
						<% @@counter += 1 %>
						<td><%= "Attending: "%><%= link_to guest.user.firstname, user_show_path(guest.user.id) %>&nbsp;<%= link_to guest.user.lastname, user_show_path(guest.user.id) %><%= "'s Guest"%></td>
					<% else %>
						<td><%= "On Waitlist: "%><%= link_to guest.user.firstname, user_show_path(guest.user.id) %>&nbsp;<%= link_to guest.user.lastname, user_show_path(guest.user.id) %><%= "'s Guest"%></td>
					<% end %>
				<% end %>
				<p></p>
			<% end %>
		<% end %>
	<% end %>

	<% if false %>
	<% @guests.each do |guest| %>
		<% @@counter += 1 %>
		<% if @@counter <= @event.maxpeople %>
			<td><%= "Attending: "%><%= link_to guest.user.firstname, user_show_path(guest.user.id) %>&nbsp;<%= link_to guest.user.lastname, user_show_path(guest.user.id) %><%= "'s Guest"%></td>
		<% else %>
			<td><%= "On Waitlist: "%><%= link_to guest.user.firstname, user_show_path(guest.user.id) %>&nbsp;<%= link_to guest.user.lastname, user_show_path(guest.user.id) %><%= "'s Guest"%></td>
		<% end %>
		<p></p>
	<% end %>
	<% end %>

	<div class = "field"><%= "Comments: " %></div>
	<%= form_for(@comment) do |f| %>
		<div class="field">
			<%= f.text_field :content %>
		</div>
		<div class="field">
			<%= f.hidden_field :user_id, :value => current_user.id %>
		</div>
		<div class="field">
			<%= f.hidden_field :event_id, :value => @event.id %>
		</div>
		<div class="button">
			<%= f.submit %>
		</div>

		<% if false %>
		<div class="error-msg">
			<% if @comment.errors.any? %>
			<ul>
				<% @comment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
			<% end %>
		</div>
		<% end %>
	<% end %> 
	<p></p>
	<% @comments.each do |comment| %>
		<tr>
			<td><%= comment.user.school %>&nbsp;<%= comment.user.gender %></td>
			<td> [<%= comment.updated_at.strftime('%a, %b %d %I:%M%P') %>] </td>
			<td><%= comment.content %></td>
			<% if comment.user_id == current_user.id %>
				<div class = "button2">
				<td><%= button_to "Edit", edit_comment_path(comment.id), method: :get %></td>
				<td><%= button_to "Delete", comment, confirm: "Are you sure you want to delete?", method: :delete %></td>
				</div>
			<% end %>
			<p></p>
		</tr>
	<% end %>
</div>