<% @@counter = 0 %>

<div>
	<h2><%= @event.title %></h2>
	<p><%= "Category: " %><%= @event.category %></p>
	<p><%= "Location: " %><%= @event.location %></p>
	<p><%= "Start Time: " %><%= @event.dayandtime %></p>
	<p><%= "End Time: " %><%= @event.dayandtimeend %></p>
	<p><%= "Max Attendees: " %><%= @event.maxpeople %></p>
	<p><%= "Creator: " %><%= @event.user.name %></p>
	<% if @event.user_id == current_user.id %>
		<td><%= button_to "Edit", edit_event_path(@event.id), method: :get %></td>
		<td><%= button_to "Destroy", @event, confirm: "you sure you want to do delete this event?", method: :delete %></td>
	<%end %>
</div>

<% @participants.each do |participant| %>
	<% @@counter += 1 %>
<% end %>
<%= "Total Attendees: " %>
<%= @@counter %>

<% if @participants.where("user_id = ? AND event_id = ?", current_user.id, @event.id).empty? %>
	<% if @event.user_id == current_user.id %>
		<td>You are the host!</td>
		<p></p>
	<% else %>
		<td>
		<%= form_for(@participant) do |f| %>
			<div class="field">
				<%= f.hidden_field :user_id, :value => current_user.id %>
			</div>
			<div class="field">
				<%= f.hidden_field :event_id, :value => @event.id %>
			</div>
			<div class="actions">
				<% if @@counter < @event.maxpeople %>
					<%= f.submit "Attend" %>
				<% else %>
					<%= f.submit "Waitlist" %>
				<% end %>
			</div>
		<% end %>
		</td>
	<% end %>
<% else %>
	<td><%= button_to "Don't Attend", @participants.where("user_id = ? AND event_id = ?", current_user.id, @event.id).take!, confirm: "you sure you want to unattend this event?", method: :delete %></td>
	</td>
<% end %>

<% @@counter = 0 %>
<% @participants.each do |participant| %>
	<% @@counter += 1 %>
	<% if @@counter <= @event.maxpeople %>
		<td><%= "Attending: "%><%= participant.user.name %></td>
	<% else %>
		<td><%= "On Waitlist: "%><%= participant.user.name %></td>
	<% end %>
	<p></p>
<% end %>

<%= form_for(@comment) do |f| %>
	<div class="field">
		<%= f.text_field :content %>
	</div>
	<div class="field">
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>
	<div class="field">
		<%= f.hidden_field :event_id, :value => @event.id %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>

	<% if false %>
	<div class="error-msg">
		<% if @comment.errors.any? %>
		<ul>
			<% @comment.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
		<% end %>
	</div>
	<% end %>
<% end %> 

<% @comments.each do |comment| %>
	<tr>
		<td><%= comment.content %></td>
		<td><%= comment.user.name %></td>
		<% if comment.user_id == current_user.id || @event.user_id == current_user.id %>
			<td><%= button_to "Edit", edit_comment_path(comment.id), method: :get %></td>
			<td><%= button_to "Destroy", comment, confirm: "you sure you want to do delete this comment?", method: :delete %></td>
		<% end %>
		<p></p>
	</tr>
<% end %>